<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Carrot0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,139}</string>
                <key>spriteSourceSize</key>
                <string>{147,139}</string>
                <key>textureRect</key>
                <string>{{0,0},{147,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Carrot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,139}</string>
                <key>spriteSourceSize</key>
                <string>{147,139}</string>
                <key>textureRect</key>
                <string>{{147,0},{147,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Carrot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,139}</string>
                <key>spriteSourceSize</key>
                <string>{147,139}</string>
                <key>textureRect</key>
                <string>{{294,0},{147,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Carrot3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,139}</string>
                <key>spriteSourceSize</key>
                <string>{147,139}</string>
                <key>textureRect</key>
                <string>{{441,0},{147,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Carrot4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,139}</string>
                <key>spriteSourceSize</key>
                <string>{147,139}</string>
                <key>textureRect</key>
                <string>{{588,0},{147,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Carrot5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,139}</string>
                <key>spriteSourceSize</key>
                <string>{147,139}</string>
                <key>textureRect</key>
                <string>{{735,0},{147,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Carrot.png</string>
            <key>size</key>
            <string>{882,139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc4dbbd3b67b90d92ce308bf3d874ec8:aa120cd1ca809b25c4c8cd85eef16780:2032488206262c4ab5ce4df70d7b0bb2$</string>
            <key>textureFileName</key>
            <string>Carrot.png</string>
        </dict>
    </dict>
</plist>
